<!DOCTYPE html>
<html lang="ja">
    <%= render "partials/head" %>
    <body>
        <div class="main">
            <%= yield %>
        </div>
    </body>
    <%= render "partials/footer" %>
</html>